.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
*.iml
.idea/
.vscode/
